
<br>

<div class="wrapper">
    <div class="container main">
        <div class="row">
            <div class="col-md-6 side-image">

                <!-------------      image     ------------->

                <%= image_tag "welcome_img.jpg", style:"width: 435px;
    height: 480px",  alt: "logo" %>


            </div>
            <div class="col-md-6 right input-singin">

                <div class="input-box">

                   <header>Just a couple of clicks and we start</header>
                   <div class="input-field form-inputs">

                   </div>
                   <div style=" padding-bottom: 110px;">
                   <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|  %>
                   <%= f.error_notification %>
                    <%= f.input :first_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "first_name" }%>
    <%= f.input :last_name,
                required: true,
                input_html: { autocomplete: "last_name" }%>
    <%= f.input :username,
                required: true,
                input_html: { autocomplete: "username" }%>
    <%= f.input :address,
                required: true,
                input_html: { autocomplete: "address" }%>
    <%= f.input :country,
                required: true,
                input_html: { autocomplete: "country" }%>
    <%= f.input :city,
                required: true,
                input_html: { autocomplete: "city" }%>
                 <%= f.label :bullying_type %>

    <%= f.select :bullying_type,
             options_for_select(["General", "Physical Bullying", "Verbal Bullying", "Social Bullying", "Cyberbullying"], selected: f.object.bullying_type ),

           { include_blank: true },
           required: true,
           autofocus: true,
           class: "slc-bullying",
           input_html: { autocomplete: "bullying_type" } %>

    <%= f.input :phone_number,
                required: true,
                class: "phone",
                input_html: { autocomplete: "phone_number" }%>
    <%= f.input :email,
                required: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
                    <div class="m-auto">
                      <%= f.button :submit, "Sign up", class:"submit" %>
                    </div>
                    <div class="signin">
                        <span>Already have an account? <a href="#"><%= render "devise/shared/links" %></a></span>
                    </div>
                    <% end %>
                    </div>
                   </div>
                </div>

            </div>
        </div>
    </div>
</div>
