<h1>New Channel</h1>
<br>
<%= simple_form_for @chatroom do |f| %>
<%= f.error_notification %>
  <div class="row p-5 auth-div">
  <div class="form-inputs ms-3">
    <%= f.input :name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "name", class: "form-control col-md-6 input-width" } %>
    <h6>type: </h6>
    <%= f.select :chatroom_type,
           options_for_select(["public", "private"]),
           { include_blank: true },
           required: true,
           autofocus: true,
           input_html: { autocomplete: "chatroom_type" } %>
    </div>

    <div class="form-actions ms-3 text-center">
      <%= f.button :submit, "Create", class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
