<div style="margin-left: 385px; margin-top:100px; ">
    <div class="profile-card" >
<div class="description" >
      <!-- Display user information in the card -->
      <p style="text-align: justify; "><strong style="color:yellow;">Email:</strong> <%= current_user.email %></p>
      <p style="text-align: justify;"><strong style="color:yellow;">First Name:</strong> <%= current_user.first_name %></p>
      <p style="text-align: justify;"><strong style="color:yellow;">Last Name:</strong> <%= current_user.last_name %></p>
      <p style="text-align: justify;"><strong style="color:yellow;">Address: </strong><%= current_user.address %></p>
      <p style="text-align: justify;"><strong style="color:yellow;">Country: </strong><%= current_user.country %></p>
      <p style="text-align: justify;"><strong style="color:yellow;">City: </strong><%= current_user.city %></p>
      <p style="text-align: justify;"><strong style="color:yellow;">Phone Number:</strong> <%= current_user.phone_number %></p>
      <p style="text-align: justify;"><strong style="color:yellow;">Bullying Type: </strong><%= current_user.bullying_type %></p>
      <!-- Add an "Edit Profile" button to toggle between view and edit modes -->
</div>
<div class="description" >
  <% if current_user.photo.key.nil?%>
       <%= image_tag "user blank.png",class: "image img-p", alt: " member" %>
<% else %>
      <%= cl_image_tag current_user.photo.key, class:"image img-p"%>
<%end%>
<h3 class="username"> <strong><%= current_user.username %> </strong></h3>
</div>
<div class="description" style="margin-left:50px">
<h1 style=" display: flex; text-align: center; justify-content: center; color:yellow;" > About me </h1>
<p class="desc"><%= current_user.description %></p>
</div>
</div>
<div class="btnnn">
 <button class="btn btn-success edite"><%= link_to "Edit Profile", edit_user_registration_path, class: "nav-link bbt", style:"color: white;" %></button>
</div>
</div>
<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
.username{
  font-family: 'Roboto Mono', monospace;
  color:yellow;
  padding: 20px;
}
.bbt{
  width: 150px;
}
 .btnnn {
    width: 100%; /* Take up the full width of the container */
    text-align: center; /* Center the button */
    margin-top: 20px; /* Add some spacing */
  }
  /* Existing styles... */
   body {
    background-image: url(<%= asset_path("background_page.png") %>);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  font-family: 'Roboto Mono', monospace;
  color: white;
  }
.desc{
  padding-top: 10%;
  display: flex;
  text-align: justify;
  justify-content: center
}
  .profile-card {
    background-color: #181F6D;
    display: flex;
    width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px; border: none;
    border-radius: 10px;
    text-align: center;
    box-shadow:  49px 49px 98px #c1c1c1,
             -49px -49px 98px #ffffff;

    align-items: center;
    justify-content: center;
  }
  .edite{
    margin-top: 20px;
    border-radius: 6px;
    color: white;
  }
  image{
    border-radius: 50%;
    margin-bottom: 20px;
  }
  .description{
   width: 50%; /* Each div takes up 50% of the container's width */
   box-sizing: border-box; /* Include padding and border in the width */
   border:none /* Add a border for visibility */
   padding: 200px;
   width: 500px;
   margin-top: 4%; /* Add some padding for spacing */
  }
  body{
   font-size: 1rem;
  }
  html{
     font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
   }
   .img-p{
     width: 200px;
     border-radius: 50%;
     }
</style>
