<h1>Doctors</h1>

<div class="d-flex">
<% @doctors.each do |doctor| %>
<div class="me-3 border border-solid p-5">
    <h4 class="text-success"><%= doctor.first_name%></h4>
    <p><strong><%= doctor.field%></strong></p>
    <p><strong><%= doctor.experience_years%></strong> of experience</p>
    <button class="btn btn-success">Make appointement</button>
 </div>
</div>
<%= simple_form_for [doctor, @appointement] do |form| %>

<div class="field">
  <%= form.input :date,
                as: :string,
                input_html: { data: { controller: "datepicker" } },
                start_year: Date.current.year,
                end_year: Date.current.year + 1,
                discard_day: true %>
</div>
  <div class="actions">
    <%= form.button :submit, 'submit',class:"btn btn-primary" %>
  </div>
<% end %>
<%end%>
