<h1>all my Appointements</h1>
<%@appointements.each do |appointement|%>
    <p>date : <%=appointement.date%></p>
    <p>doctor s name: <%=appointement.doctor.first_name%> <%=appointement.doctor.last_name%></p>
    <p>doctor s field<%=appointement.doctor.field%></p>
    <p><%=appointement.doctor.experience_years%> of experience</p>
    <p>doctor s phone: <%=appointement.doctor.phone_number%></p>
    <p>doctor s address <%=appointement.doctor.address%></p>

<button class="btn btn-danger"><%= link_to "Delete this appointement", appointement_path(appointement)  ,  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, style: "color: white; text-decoration: none;" %></button>


<%end%>
