<div style="margin-left: 385px;">
  <h1 class="hamza">My Appointements:</h1>
  <div class="card-container d-flex flex-wrap justify-content-center">
    <% if @appointements.empty? %>
      <h3>No appointments exist</h3>
    <% else %>
      <% @appointements.each_slice(3) do |appointments_row| %>
        <div class="row" style="width:5000px;">
          <% appointments_row.each do |appointement| %>
            <div class="col-md-4 mb-4">
              <div class="card" style=" margin-right:background-color: white; padding: 10px; margin: 10px; background-color: #0A1D56; color: white; height: 600px; padding: 50px; border-radius: 10px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); padding-top:100px; ">
                <p><strong style="color:yellow;">Date:</strong> <%= appointement.date %></p>
                <p><strong style="color:yellow;">Doctor's Name:</strong> <%= appointement.doctor.first_name %> <%= appointement.doctor.last_name %></p>
                <p><strong style="color:yellow;">Doctor's Field:</strong> <%= appointement.doctor.field %></p>
                <p><strong style="color:yellow;">Experience:</strong> <%= appointement.doctor.experience_years %> years of experience in the domain</p>
                <p><strong style="color:yellow;">Doctor's Phone:</strong> <%= appointement.doctor.phone_number %></p>
                <p><strong style="color:yellow;">Doctor's Address:</strong> <%= appointement.doctor.address %></p>
                <button class="btn btn-danger danger">
                  <%= link_to "Delete this appointment", appointement_path(appointement), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class:"danger1", style: "color: white; text-decoration: none; border-radius: 6px;" %>
                </button>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <button class="btn btn-primary button1">
    <%= link_to "Make an appointment", doctors_index_path, style: "color: white; text-decoration: none;" %>
  </button>
</div>
<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
body{
  font-family: 'Roboto Mono', monospace;
}
.card{
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
h3 {
 display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}
body{
  background-color: #E8ECEB;
}
.button1 {
 margin:0 auto;
 text-align: center;
 display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin-bottom: 40px;
}
.danger{
margin-top: 10px;
border-radius:6px;
}

.hamza{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 80px;
  margin-left: 390px;

  font-size: 36px;
    font-weight: bold;
    width: fit-content;
    box-shadow: rgb(195, 195, 195) 3px 3px 3px;
    background-color: #fafafa;
    padding: 5px 10px;
    border-radius: 15px;
    color: #00257F;
    text-align: center;
}
</style>
